@media (max-height: 500px) {
    body {
        display: none;
    }
}

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .wrap-header,
    .wrap-about,
    .wrap-projects,
    .wrap-footer {
        grid-column: 2/4;
    }
}
