@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

#wrapper-body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #333;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #333;
}

/* Button Properties */
a {
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-size: 2.25em;
}

a:hover {
    color: goldenrod;
}

div .btn-panel {
    /* border: 1px solid red; */
    width: 100%;
    height: 3em;
    margin: 3.5em auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.btn-tabs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a.btn {
    border: 0.1em solid #333;
    border-radius: 0.25em;
    font-size: 1.25em;
    padding: 0.15em 1em;
}

div.wrap-footer div a {
    color: #fff;
}

div.wrap-footer div a:hover {
    color: #999;
}

/* Header Section Properties */

header {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

header .header-bg {
    width: 100%;
    height: 100%;
    background: url('../assets/images/rick-mason-532835-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

header .wrap-header {
    border: 0.33em solid #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
}

header .wrap-header h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-top: 2.5em;
    margin-bottom: 0.15em;
}

header h5 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Main Section Properties */

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

/* About Section Properties */
main #section-about {
    width: 100%;
    height: 100%;
    margin: 1.5em auto;
}

main #section-about h1 {
    width: 90%;
    height: auto;
    background: #333;
    color: #fff;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.25em;
}

main #section-about .wrap-about {
    width: 90%;
    height: 90%;
    border: 0.1em solid #333;
    border-radius: 0.35em;
    margin: 1em auto;
    padding: 1em 0.5em;
}

main #section-about .wrap-about p {
    margin: 1em auto;
}

/* Projects Section Properties */
main #section-projects {
    width: 100%;
    height: 100%;
    margin: 1.5em auto;
}

main #section-projects h1 {
    width: 90%;
    height: auto;
    background: #333;
    color: #fff;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.25em;
}

main #section-projects #contain-projects {
    margin: 2em 0.5em;
    padding: 0 0.5em;
}

main #contain-projects .proj-tile {
    border: 0.1em solid #333;
    border-radius: 0.35em;
    margin: 3em auto;
    padding: 1.25em 0.5em;
}

main #contain-projects .proj-tile img {
    border: 0.1em solid #333;
    border-radius: 0.25em;
    margin: 1.25em auto;
    padding: 0.2em 0.2em;
}

/* Footer Section Properties */
footer {
    width: 100%;
    min-height: 42vh;
    background: #000;
}

footer .wrap-footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em 0.5em;
}

footer .wrap-footer h1 {
    margin: 0.5em auto;
    color: #666;
}

footer .wrap-footer h5 {
    color: #999;
    bottom: 0;
}
