/* Font Properties */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #333;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #333;
}

/* Button Properties */

a {
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

a:hover {
    color: goldenrod;
}

div .btn-panel {
    width: auto;
    height: auto;
    margin: 3.5em auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.btn-tabs {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em auto;
}

a.btn {
    border: 0.15em solid #333;
    border-radius: 0.25em;
    font-size: 1em;
    padding: 0.25em 0.75em;
}

div.wrap-footer div i {
    color: #fff;
}

div.wrap-footer div i:hover {
    color: #999;
}

/* Body Propeties */

#wrapper-body {
    width: 100%;
    height: 100vh;
}

/* Header Section Properties */

header {
    width: 100%;
    min-height: 100vh;
}

header .header-bg {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    background: url('../assets/images/rick-mason-532835-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

header .wrap-header {
    border: 0.33em solid #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
}

header .wrap-header h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-top: 3.5em;
    margin-bottom: 0.25em;
}

header .wrap-header h3 {
    font-size: 1.1em;
}

header h5 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.1em;
}

/* Main Section Properties */

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

main #section-about,
main #section-projects {
    width: 100%;
    min-height: 100vh;
    margin: 1.5em auto;
}

main #section-about .wrap-about h1,
main #section-projects .wrap-projects h1 {
    width: 100%;
    height: auto;
    background: #333;
    color: #fff;
    letter-spacing: 0.1em;
    margin: 1em auto;
    padding: 0.25em 1em;
    border-radius: 0.25em;
}

/* About Section Properties */

main #section-about .wrap-about {
    width: 90%;
    height: 100vh;
    border: 0.25em solid #333;
    border-radius: 0.25em;
    margin: 0 auto;
    padding: 1em 1em;
}

main #section-about .wrap-about p {
    font-size: 1em;
    margin: 1em auto;
    padding: 0 0.25em;
}

/* Projects Section Properties */

main #section-projects .wrap-projects {
    width: 90%;
    height: 100%;
    border: 0.25em solid #333;
    border-radius: 0.25em;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

main #section-projects .wrap-projects #contain-projects {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

main #contain-projects .proj-tile {
    border: 0.35em solid #333;
    border-radius: 0.25em;
    margin: 2.5em auto;
    padding: 1.25em 1em 0 1em;
}

main #contain-projects .proj-tile img {
    height: auto;
    border: 0.15em solid #333;
    border-radius: 0.25em;
    margin: 1.25em auto;
    padding: 0.35em 0.35em;
}

/* Footer Section Properties */

footer {
    width: 100%;
    min-height: 42vh;
    background: #000;
}

footer .wrap-footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em 0.5em;
}

footer .wrap-footer h1 {
    margin: 0.5em auto;
    color: #666;
    letter-spacing: 0.1em;
}

footer .wrap-footer .btn-panel {
    border: 0.1em solid #fff;
    border-radius: 0.25em;
}

footer .wrap-footer h5 {
    color: #999;
    letter-spacing: 0.1em;
    bottom: 0;
}
