@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
